/* Fuentes */
/* @import url('https://fonts.googleapis.com/css2?family=Mohave:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Reset de valores predeterminados */
*{
    padding: 0;
    margin: 0;
}
/* Elimino los scrollbar*/
::-webkit-scrollbar{
    display: none;
}

/* defino el tamaño de fuente para mi html para despues usar rem en las font-size*/
html{
    font-size: 16px;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 60px;
    background-color:#333333;
    border-bottom: solid  #f58634 5px;
    position: fixed;
    top: 0;
    z-index: 999;
 }
 
 .header-logo a {
    font-family: 'Mohave', sans-serif;
    font-size: 3rem;
    padding-top: 15px;
    padding-left: 20px;
    text-decoration: none;
    color: #f58634;
 }
 
 .menu{
    display: flex;  /* con esto conseguí que se ponga el menú al lado del logo */
    /*justify-content:space-between; /*con esto consigo que separen*/
    align-items: center; /* Con esto consigo que se centren*/
 }
 
  menu ul{
    margin: 0%;
    list-style: none;
    padding: 0%;
 }
 .menu li {
    /* modifico los li para que queden uno al lado del otro*/
    display: inline; 
    /* padding: 10px;   */
 }
 
 .menu li a{
    /* Elimino el subrayado por defecto*/
    text-decoration: none;
    font-family: 'Mohave', sans-serif;
    font-size: 1.2rem;
    color:#fff;
    padding: 8px 20px;
    border-radius: 6px;
    /* transition es para el tiempo de cambio de color en el hover*/
    transition: 0.5s;
 }
 
 .menu li :hover{
    /* Efecto para que cuando el puntero para por el link, 
       este cambie de color
    */
    background-color: #f58634;
    color: #fff;   
 }
 
 /*******************************************************************/
 
 .header label{  
    cursor: pointer;
    display: none;
    width: 28px;
    height: 28px;
    padding: 8px;
    font-size: 2rem;
    color: #f58634;
    position: fixed;
    top: 8px;
    left:5px;
 }
 .header label:hover{
    color: rgba(172, 182, 185, 0.3);
 }
 #menu-toggle{
    display: none;
 }
 
 @media only screen and (max-width: 760px) {
    #menu-lista {
       display: flex;
       position: absolute; 
       flex-direction: column;
       top:65px;
       left: 0;
       background-color:#837c7c;
       opacity: 0.9;
       padding: 0px;
       margin: 0px;
       margin-left: -70%;
       transition: all 0.7s;
       width: 50%;
    }
 
    #menu-lista li{
       border-bottom: 1px solid #fff;
       
    }
    #menu-lista li a{
       display: block;
       padding: 15px 20px;
       font-size: 1.5rem;
       border-radius: 0%;
       text-align: center;
    }
 
    #menu-toggle:checked + #menu-lista{
       margin-left: 0%;
    }
    .header label{
       display: block;
    }
    .header-logo a{
       padding-left: 60px;
    }
 }

/* Fin Header */

/* Seccion inicio */
.paralax{
    position: relative;
    /* 100% del ancho de la pantalla */
    width: 100%;
    /* Antes tenía 100% del viewport (alto de la vista de la ventana), 
       con la corrección de Felipe le ponemos height: auto
    */
    height: auto;
    /* Imagen de fondo*/
    background-image: url("../src/assets/img/carrousel-1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.wellcome{
    /* Felipe borró todo lo que tenía y aplicó flexbox correctamente*/
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 30rem 0;
}

.wellcome h1{
    font-family: 'Mohave', sans-serif;
    font-size: 4rem;
    color: #fff;
}
/*
Por sugerencia de Felipe, eliminamos el código correspondiente al hr
*/

.wellcome p{
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    margin-top: 1%;
    text-align: center;
}
/* Fin seccion inicio */

/* Seccion Nosotros */
.nosotros-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    padding-bottom: 20%;
}
.nosotros-titulo {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}
.nosotros-titulo h2{
    font-family: 'Mohave', sans-serif;
    font-size: 3rem;
    color: #929497; 
    border-top: #f58634 solid 2px;
    border-bottom: #f58634 solid 2px ;
    width: 80%; /* Es el 80% del contenedor padre*/
    text-align: center;
}
.nosotros-titulo p{
    font-family: 'Mohave', sans-serif;
    font-size: 1.3rem;
    color: #929497;
    text-align: center;
    margin-top: 2%;
}
.nosotros-items-container{
    /*display: flex;*/ 
    /* Eliminamos el flex y creamos un grid de 3 columnas iguales*/
    width: 90%;
    margin-top: 2%; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px; /* Espacio entre celdas*/
}

/* Ajuste de tamaño para distintas resoluciones*/
/* Tablet */
@media only screen and (max-width: 1024px) {
    .nosotros-items-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
    }
    /* .nosotros-titulo{
        padding-top: 5%;
    } */
}   
/* Telefono */
@media only screen and (max-width: 768px) {
    .nosotros-items-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .nosotros-titulo h2{
        font-size: 2rem;
    }
}  


.nosotros-item{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap; 
    margin: 1%;
    border-bottom: #f58634 solid 1px;
    padding-bottom: 1%;
    padding-top: 3%;
}
.nosotros-item h3{
    font-family: 'Mohave', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color:  #f58634;
    border-top: #929497 solid 1px;
    border-bottom: #929497 solid 1px;
    margin-bottom: 5%;
    width: 100%;
}

.nosotros-item p {
    font-family: 'Mohave', sans-serif;
    font-size: 1rem;
    text-align:left; 
    color: #929497;
}
/* Fin seccion Nosotros */

/* Seccion Soluciones */
.soluciones-container{
    width: 100%;
    height: auto;
    background-color: #fff;
}
.soluciones-container h2{
    font-family: 'Mohave', sans-serif;
    font-size: 3rem;
    color: #929497; 
    text-align: center;
    padding-top: 5%;
}
.soluciones-items-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);

    grid-column-gap: 10px;
    grid-row-gap: 30px;

    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.soluciones-item-1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.soluciones-item-2{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.soluciones-item-3{
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

.soluciones-item-4{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.soluciones-item-5{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

/* Ajuste de tamaño para distintas resoluciones*/
/* Tablet */
@media only screen and (max-width: 1024px) {
    .soluciones-items-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .soluciones-item-1{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .soluciones-item-2{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    .soluciones-item-3{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .soluciones-item-4{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
    .soluciones-item-5{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .soluciones-container h2{
        font-size: 2rem;
    }
   
}
/* Teléfono */
@media only screen and (max-width: 768px) {
    .soluciones-items-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5,1fr);
    }
    .soluciones-item-1{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .soluciones-item-2{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .soluciones-item-3{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    
    .soluciones-item-4{
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .soluciones-item-5{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
}


.soluciones-item{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.soluciones-item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3%;
}
.soluciones-item p{
    font-family: 'Mohave', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #929497;
}
/* Fin seccion Soluciones */

/* Seccion ultimos proyectos */
.ultimos-proyectos-container{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10%;
    
}
.ultimos-proyectos-container h2{
    font-family: 'Mohave', sans-serif;
    font-size: 3rem;
    color: #929497; 
    text-align: center;
    margin-top: 5%;
}
.ultimos-proyectos-items-container{
    width: 90%;
    margin-top: 7%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.ultimos-proyectos-item-1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.ultimos-proyectos-item-2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.ultimos-proyectos-item-3{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
/* Ajuste de tamaño para distintas resoluciones*/
@media only screen and (max-width: 1024px) {
    .ultimos-proyectos-items-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .ultimos-proyectos-item-1{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .ultimos-proyectos-item-2{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .ultimos-proyectos-item-3{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
}
/* Teléfono */
@media only screen and (max-width: 768px) {
    .ultimos-proyectos-container h2{
        font-size: 2.5rem;
    }

}

.ultimos-proyectos-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.ultimos-proyectos-item img{
    width: 350px;
    height: 250px;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
}
.ultimos-proyectos-item p {
    font-family: 'Mohave', sans-serif;
    font-size: 1rem;
    color: #929497;
    text-align: center;
    margin-top: 1rem;
    width: 350px;
}
/* Fin seccion ultimos proyectos */

/* Seccion Clientes */
.clientes-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
.clientes-container h2{
    font-family: 'Mohave', sans-serif;
    font-size: 3rem;
    color: #929497; 
    text-align: center;
    padding: 5% 0;
}
.clientes-items-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px; 
    margin-top: 4%;
    margin-bottom: 4%;
    justify-items: center;
}
.clientes-item-1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.clientes-item-2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.clientes-item-3{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.clientes-item-4{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}
.clientes-item-5{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.clientes-item-6{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.clientes-item-7{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.clientes-item-8{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}
.clientes-item-9{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.clientes-item img{
    width: 150px;
    height: 80px; 
}

/* Ajuste de tamaño para distintas resoluciones*/
@media only screen and (max-width: 1024px) {
    .clientes-items-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
   
    .clientes-item-1{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .clientes-item-2{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    .clientes-item-3{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    .clientes-item-4{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .clientes-item-5{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    .clientes-item-6{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
    .clientes-item-7{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .clientes-item-8{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    .clientes-item-9{
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }
}
/* Teléfono */

@media only screen and (max-width: 768px) {
    .clientes-items-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10,1fr);
    }

    .clientes-item-1{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .clientes-item-2{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .clientes-item-3{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .clientes-item-4{
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .clientes-item-5{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    .clientes-item-6{
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }
    .clientes-item-7{
        grid-row: 7 / 8;
       grid-column: 1 / 2;
    }
    .clientes-item-8{
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }
    .clientes-item-9{
        grid-row: 9 / 10;
        grid-column: 1 / 2;
    }

    .clientes-container h2{
        font-size: 2.5rem;
    }
}

/* Fin seccion Clientes */

/* Seccion Contacto */
.contacto-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}
.contacto-container h2{
    font-family: 'Mohave', sans-serif;
    font-size: 3rem;
    color: #929497; 
    text-align: center;
    margin-top: 2%;
}
.contacto-form-container{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center;  */
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3%;
}
.contacto-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: #929497 solid 2px;
    padding-bottom: 1%;
}
.contacto-info img{
    width: 300px;
    height: 80px;
    margin-bottom: 1%;
}
.contacto-info p{
    font-family: 'Mohave', sans-serif;
    font-size: 1rem;
}
.contacto-form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2% 0;
}
.contacto-form input{
    margin: 1% 0;
    font-family: 'Mohave', sans-serif;
    font-size: 1rem;
    height: 30px;
    border: solid  #f58634 2px;
    color: black;
}
.contacto-form textarea{
    margin: 1% 0;
    font-family: 'Mohave', sans-serif;
    font-size: 1rem;
    height: 100px;
    border: solid  #f58634 2px;
    color: black;
}

@media only screen and (max-width: 768px){
    .contacto-container h2{
        font-size: 2.5rem;
    }
    .contacto-info img{
        width: 212px;
        height: 59px;
    }
}
/* Fin seccion Contacto */

/* Footer */
.footer{
    height: 100px;
    width: 100%;
    font-family: 'Mohave', sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color:#333333;
    border-top: solid  #f58634 5px;
    display: flex;
    justify-content:center;
    align-content: center;
}
.footer-texto{
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 494px){
    .footer-texto {
        justify-content: center;
    }
}
/* Fin Footer */