/*
    Definicion de variables globales para colores de texto,
    tipos de fuente y tamaño
*/

/*
    Definicion de variable que contienen
    los colores
*/
$text-color-logo: #f58634;
$text-color-section: #929497;
$text-color-descriptions: #929497;
$text-color-links: #fff;
$bg-color-header: #333333;

/*
    Definicion de tipos de fuentes
*/
$font-logo: 'Mohave', sans-serif;
$font-links: 'Mohave', sans-serif;
$font-welcome: roboto;
$font-sections: 'Mohave', sans-serif;

/*
    Definicion de tamaños de fuentes
*/
$size-text-logo: 3rem;
$size-text-links: 1.2rem;
$size-text-wellcome-h1: 4rem;
$size-text-wellcome-p: 2rem;
$size-text-sections: 3rem;
$size-text-descriptions: 1rem;
