/*
    En este partial se realizan los resets de los estilos por
    defecto
*/

/* Reset de valores predeterminados */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Elimino los scrollbar*/
::-webkit-scrollbar{
    display: none;
}


html{
    background-color: #fff;
    width: 100%;
}

body{
    background-color: #fff;
    min-width: 100%;
}